<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
">

    <bean class="org.Depot" id="depot">
        <constructor-arg value="Wadala"/>
    </bean>
    
    <bean class="org.Department">
        <constructor-arg value="Sales"/>
        <constructor-arg ref="depot"/>
    </bean>
    <bean class="org.Employee">
        <constructor-arg value="Anuja"/>
        <constructor-arg ref="depot"/>
    </bean>
    
</beans>
